/* 
   File       : estilos.css
   Description: Estilos comunes y utilitarios para WebApps y Mobile Apps
   Version    : v.1 beta
   Author     : @jjyepez - correo@jjyepez.com
   Date       : feb-2018
   License    : MIT
*/

